{% extends "base.html" %}
{% block content %}

    <div id="offerBox">
        <div id="box-text"><p>Special Offer 30% discount on every  product and free shipping.</p>
             <button type="submit" id="offer-button">Shop now</button>
        </div>
        <div id="box-image"><img src="/static/img/laptop-flat.png" alt=""></div> 
        
    </div>
     <span  >Categories</span>
     <div id="categories">
        
        <div id="cata">
            <div class="Cata-items">
                <img src="/static/img/mobile.png" alt="">
                <p>Mobile</p>
            </div>
            <div class="Cata-items">
                <img src="/static/img/laptop-flat.png" alt="">
                <p>Laptop</p>
            </div>
            <div class="Cata-items">
                <img src="/static/img/camera.png" alt="">
                <p>Camera</p>
            </div>
            <div class="Cata-items">
                <img src="/static/img/mobile.png" alt="">
                <p>Headphone</p>
            </div>
        </div>
     </div>
     <span  >Products</span>
     <div class="row">
		{% for product in products %}
		<div class="col-lg-4">
			<img class="thumbnail" src="{{product.imageURL}}">
			<div class="box-element product">
				<h6><strong>{{product.name}}</strong></h6>
				<hr>

				<button data-product="{{product.id}}" data-action="add" class="btn btn-outline-secondary add-btn update-cart">Add to Cart</button>
				
				<a class="btn btn-outline-success" href="#">View</a>
				<h4 style="display: inline-block; float: right"><strong>${{product.price}}</strong></h4>

			</div>
		</div>
		{% endfor %}
	</div>
     <span>Our Brand Partners</span>
     <div id="brand">
        <div id="brand-items">
            <div class="brands"><img src="/static/img/apple.png" alt=""></div>
            <div class="brands"><img src="/static/img/dell.png" alt=""></div>
            <div class="brands"><img src="/static/img/hp.png" alt=""></div>
            <div class="brands"><img src="/static/img/Lenovo_(2015).svg" alt=""></div>
            <div class="brands"><img src="/static/img/one-plus.png" alt=""></div>
            <div class="brands"><img src="/static/img/samsung.png" alt=""></div>
            <div class="brands"><img src="/static/img/jbl.png" alt=""></div>
            <div class="brands"><img src="/static/img/bose.png" alt=""></div>
        </div>
     </div>
     <br>
 
{% endblock %}