{% extends "base.html" %}
{% block content %}

    <div id="offerBox">
        <div id="box-text"><p>Special Offer 30% discount on every  product and free shipping.</p>
             <button type="submit" id="offer-button">Shop now</button>
        </div>
        <div id="box-image"><img src="/static/img/laptop-flat.png" alt=""></div> 
        
    </div>
     <span  >Categories</span>
     <div id="categories">
        
        <div id="cata">
            <div class="Cata-items">
                <img src="/static/img/mobile.png" alt="">
                <p>Mobile</p>
            </div>
            <div class="Cata-items">
                <img src="/static/img/laptop-flat.png" alt="">
                <p>Laptop</p>
            </div>
            <div class="Cata-items">
                <img src="/static/img/camera.png" alt="">
                <p>Camera</p>
            </div>
            <div class="Cata-items">
                <img src="/static/img/mobile.png" alt="">
                <p>Headphone</p>
            </div>
        </div>
     </div>
     <span>Top Sales</span>
     <div id="Top-Sales">
        <div id="top-sales">
            <div class="sales-items">
                <img src="/static/img/mobile.png" alt="">
                <p class="sales">Samsung S10 Ultra Pro max </p>
                <p>Rs.12,000</p>
            </div>
            <div class="sales-items">
                <img src="/static/img/camera.png" alt="">
                <p class="sales">Sony mirrorless 50mm lesnce </p>
                <p>Rs500000</p>
            </div>
            <div class="sales-items">
                <img src="/static/img/mobile.png" alt="">
                <p class="sales">Samsung S10 Ultra Pro max </p>
                <p>Rs. 30,000</p>
            </div>
            <div class="sales-items">
                <img src="/static/img/laptop.png" alt="">
                <p class="sales">Lenevo Notebook series i5</p>
                <p>RS.40,000</p>
            </div>
            <div class="sales-items">
                <img src="/static/img/camera.png" alt="">
                <p class="sales">Sony mirrorless 50mm lesnce </p>
                <p>Rs.900000</p>
            </div>
            <div class="sales-items">
                <img src="/static/img/laptop.png" alt="">
                <p class="sales">Apple 15 pro max</p>
                <p>Rs. 150000</p>
            </div>
            <div class="sales-items">
                <img src="/static/img/mobile.png" alt="">
                <p class="sales">Samsung S10 Ultra Pro max </p>
                <p>Rs.300000</p>
            </div>
            <div class="sales-items">
                <img src="/static/img/camera.png" alt="">
                <p class="sales">Sony camera 9mm lense</p>
                <p>Rs 400000</p>
            </div>
        </div>
     </div>
     <span>Our Brand Partners</span>
     <div id="brand">
        <div id="brand-items">
            <div class="brands"><img src="/static/img/apple.png" alt=""></div>
            <div class="brands"><img src="/static/img/dell.png" alt=""></div>
            <div class="brands"><img src="/static/img/hp.png" alt=""></div>
            <div class="brands"><img src="/static/img/Lenovo_(2015).svg" alt=""></div>
            <div class="brands"><img src="/static/img/one-plus.png" alt=""></div>
            <div class="brands"><img src="/static/img/samsung.png" alt=""></div>
            <div class="brands"><img src="/static/img/jbl.png" alt=""></div>
            <div class="brands"><img src="/static/img/bose.png" alt=""></div>
        </div>
     </div>
     <br>
 
{% endblock %}