{% extends "base.html" %}
{% block content %}
<html>
    <link rel="stylesheet" href="/static/css/style.css">
    <body>
    <br>
        <span>Welcome to TreckTrekkers.Please Login <span>
        <br>
        <div id="log-in">
        <form id="signin" action="#" method="post" >
            <h4 style="color:red;" >{{error}}</h4>
            {% csrf_token %}
                <div id="col">
                    Emails <br><input class="input " type="email" name="email" placeholder="Enter your number or emails" > <br>
                    Password <br><input class="input" type="password" name="password" value=""> <br>
                    <input class="button" type="submit" value="Log in">
                    <a href="{% url "signup" %}"><input class="button" type="button" type="submit" value="Sign Up"></a> 
                </div>
            </div>
            </form>
        </div>
    <br>
    </body>
    </html>
{% endblock %}