{% extends "base.html" %}
{% block content%}
    
    <span>Create your account.<span>
    <div id="register">
    <form id="signup" action="#" method="post" >
        {% csrf_token %}
        <div id="dividecol">
                <div id="col1">
                Full Name <br> <input class="input " type="text" name="name" placeholder="Enter your name" > <br>
                Email <br> <input class="input" type="email" name="email" placeholder="Enter youe email"><br><br>
                Gender :  <input type="radio" name="Gender" value="m">Male 
                <input type="radio" name="Gender" value="f">Female
                <br><br>
                Address <br> <input class="input" type="text" name="address"  >  
                <br>
            </div>
            <div id="col2">
                Phone <br><input class="input " type="number" name="phone" placeholder="Enter your number" > <br>
                
                Password <br><input class="input" type="password" name="password1" value=""> <br>
                Conform Password <br><input class="input" type="password" name="password2" value=""> <br><br>
                <input class="button" type="submit" value="Sign Up">
                <input class="button" type="button" type="submit" value="Log in">
            </div>
        </div>
        </form>
    </div>
    

{%endblock%}