{% extends "base.html" %}
{% block content %}
<html>
    <link rel="stylesheet" href="/static/css/style.css">
    <body>
    <br>
        <span>Welcome to TreckTrekkers.Please Login <span>
        <br>
        <div id="log-in">
        <form id="signin" action="#">
                <div id="col">
                    Phone number or Emails <br><input class="input " type="number" name="phone" placeholder="Enter your number or emails" > <br>
                    Password <br><input class="input" type="password" name="password" value=""> <br>
                    <input class="button" type="submit" value="Sign Up">
                    <input class="button" type="button" type="submit" value="Log in">
                </div>
            </div>
            </form>
        </div>
    <br>
    </body>
    </html>
{% endblock %}